.navbar{
    width: 100%;
    height: 2cm;
    background-color: red;
}
.navbar h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}
.container{
    width: 50%;
    margin: 100px auto;
}
.container h1{
    font-weight: bold;
    font-size: 40px;
    margin: 40px auto;
}
.container img{
    width: 30%;
    
}