body{
    background-image: url("../images/background\ bendera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 2cm;
    background-color: red;
}
.navbar h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}
.container{
    width: 100%;
    display: flex;
    background-color: rgba(106, 89, 252, 0.205);
}
.container h1{
    margin: 10% auto;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;

}
.container2{
    width: 100%;
    background-color: rgba(106, 89, 252, 0.205);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container2 .box-item{
    width: 300px;
    height: 300px;
    margin: 30px;
    border-radius: 50px;
    background-color: white;
}
.container2 .box-item:hover img{
    transform: scale(1.5);
}
.container2 .box-item img{
    width: 80%;
    max-height: 250px;
    transition: 0.2s;
    border-radius: 30%;
}
.container2 .box-item a{
    text-decoration: none;
}
.container2 .box-item h1{
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-style: italic;
}